html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,
address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Muli", sans-serif;
  -webkit-text-size-adjust: none;
}

input,button {
  outline: 0;
}

.login-signup {
  width: 300px;
  background-color: #e2e2e2;
  position: relative;
  margin: 0 auto;
  margin-top: 145px;
}

.login-signup-title {
  padding: 15px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background-color: #7fc6a4;
  border: 1px solid #57aa82;
  text-transform: uppercase;
}

.login-signup-content {
  position: relative;
  padding: 25px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
}

.input-name { font-size: 14px; }
.input-margin { margin-top: 25px; }

.input-name h2 {
  padding-bottom: 5px;
  float: left;
}

input.field-input {
  width: 100%;
  margin-top: 0;
  background-color: rgba(2, 2, 2, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.02);
  padding: 6px 12px;
}

.submit-btn {
  width: 100%;
  margin-top: 28px;
  text-align: center;
  padding: 5px 0;
  border-radius: 20px;
  background-color: #7fc6a4;
  color: #ffffff;
  border: none;
  transition: 0.5s cubic-bezier(0.72, 0.15, 0.53, 0.84);
}
	.submit-btn:hover { background-color: #57aa82; }

.forgot-pass {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #e0e0e0;
  padding: 5px 0;
  text-align: center;
}
	.forgot-pass a {
	  text-align: center;
	  font-size: 10px;
	  color: #757575;
	}
	.forgot-pass a:hover { color: #57aa82; }

#signup .login-signup-content { padding-bottom: 46px; }

.s-atbottom {
  transform: translate3d(100px, -506.5px, 0);
  z-index: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.6;
}

.s-attop {
  transform: translate3d(100px, -506.5px, 0);
  aha z-index: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  box-shadow: -5px 6px 48px -13px rgba(0, 0, 0, 0.75);
}

.l-attop {
  z-index: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  box-shadow: -5px 6px 48px -13px rgba(0, 0, 0, 0.75);
}

.l-atbottom {
  z-index: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.6;
}

#signup,#login { transition: 0.5s cubic-bezier(0.64, 0.35, 0.58, 1); }
#login { transform: translateX(-160px); }