/* Theme styles */
html,button {
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5 {
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
    margin: 3.125em 0 .625em;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 140%;
}

h1,h1 a {
    padding-bottom: .5em;
    margin: 0 0 .4em;
    border-bottom: 1px solid #dadada;
}

#main h1 a {
    border: none;
    text-decoration: none;
    color: #333;
}

#main h1 a:hover {
    color: #dd4b39;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .8125em;
}

a {
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
    border-bottom: 1px dotted;
    text-decoration: none;
}

#main a {
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
}

p,pre {
    margin: 0 0 1em;
}

pre,.pre-like {
    padding: 1em;
    background: #ebebeb;
    border: 1px dashed #dadada;
}

.page img {
    margin: 0;
}

strong {
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
}

em,blockquote {
    font-style: italic;
    color: #999;
}

blockquote {
    margin: 3.125em 0;
    padding-left: 4em;
    position: relative;
}

blockquote:before {
    font-family: 'icon-font';
    font-style: normal;
    color: #ebebeb;
    font-size: 400%;
    position: absolute;
    top: 20px;
    left: -7px;
}

.page-content ul,.page-content ol {
    padding: 0;
    line-height: 240%;
    list-style: none;
    margin: 3.125em 0;
}

.page-content ul li:before,.page-content ol li:before {
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
    display: block;
    float: left;
    text-align: right;
}

.page-content ul ul,.page-content ul ol,.page-content ol ul,.page-content ol ol {
    margin: 0 1.3em;
}

.page-content ul {
    margin-left: 3.8em;
}

.page-content ul li:before {
    content: "•";
    font-size: 170%;
    vertical-align: top;
    margin-right: .4em;
}

.page-content ol {
    counter-reset: item;
    margin-left: 2.4em;
}

.page-content ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    width: 30px;
    margin-right: .7em;
}

#main-sidebar {
    height: 100%;
    position: fixed;
    text-align: center;
    color: #f0f0f0;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-image: url(../images/sidebar_bg.jpg);
}

#main-sidebar a {
    text-decoration: none;
}

#main-sidebar:before {
    background-color: rgba(221,75,56,0.75);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar-data-holder {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.main-nav {
    position: absolute;
    width: 15.75em;
    height: 100%;
    background: #333;
    right: 100%;
    z-index: 100;
    text-align: left;
}

.nav-search,
.nav-search input {
    float: left;
    box-sizing: border-box;
}

.nav-search {
    width: 100%;
    padding: 1em .5em;
    display: block;
}

.nav-search input {
    width: 100%;
    display: block;
    border: solid 1px #282828;
    background: #282828;
    color: white;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .5em 1em;
    padding: .5em 1em;
}

.main-nav a {
    display: inline-block;
    width: 100%;
    line-height: 3.75rem;
    border: none;
    padding-left: 1em;
    color: #f0f0f0;
    text-transform: uppercase;
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
    font-size: 13px;
    -webkit-box-shadow: inset 0 1px 4px -2px gray;
    -moz-box-shadow: inset 0 1px 4px -2px gray;
    box-shadow: inset 0 1px 4px -2px gray;
}

.main-nav a:hover {
    background: #dd4b39;
    padding-left: 1.2em;
}

.nav-control {
    position: absolute;
    left: 100%;
    width: 3.75em;
    height: 3.75em;
    background: #333;
}

.nav-control .icon-hamburguer {
    font-size: 1.75em;
    color: #f0f0f0;
}

.logo {
    font: 4.375em 'Grand Hotel',sans-serif;
    margin: 15% 0 5%;
}

.logo a {
    color: #f0f0f0;
    border: none;
}

.aside-content a {
    color: #f0f0f0;
}

.aside-image {
    padding: 4px;
    width: 6.25em;
    height: 6.25em;
    background: #f0f0f0;
    overflow: hidden;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.35);
    box-shadow: 0 2px 5px rgba(0,0,0,0.35);
}

.aside-image,.avatar-image {
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -ms-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-radius: 9999px;
}

.aside-title {
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
    text-transform: uppercase;
    margin: 1em 0 .3em;
}

.aside-description {
    padding: 0 10%;
}

.social-media-share {
    margin-top: 6%;
}

.social-media-share a {
    color: #333;
    font-size: 2.25em;
}

.social-media-share a:hover {
    color: #f0f0f0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    background: #f0f0f0;
    position: relative;
    -webkit-transition: margin .5s ease;
    -moz-transition: margin .5s ease;
    -o-transition: margin .5s ease;
    transition: margin .5s ease;
}

body.nav-open {
    margin-left: 15.75em;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0 1em;
    position: relative;
}

.main-holder {
    height: 100%;
}

#main-content {
    position: relative;
    height: 100%;
}

#main {
    padding: 0 3.75em;
    margin-left: 50%;
}

#main a {
    color: #dd4b39;
}

.page {
    margin-top: 6.25em;
}

.page:first-of-type {
    margin-top: 3.75em;
}

.page:last-of-type {
    padding-bottom: 3.75em;
}

.page-header {
    margin-bottom: 3.125em;
}

.page-meta {
    font-size: .6875em;
    color: #999;
    text-transform: uppercase;
}

.page-meta-data {
    padding-right: 2.25em;
}

.page-meta-data [class*="icon-"] {
    font-size: 1.5em;
    color: #333;
    vertical-align: middle;
    margin: -2px 3px 0 0;
}

.page-meta-data:last-of-type {
    padding: 0;
}

.page-meta-data:only-of-type {
    padding: 0;
    float: left !important;
}

.pagination {
    padding: 3em 0;
}

.pagination .older-pages {
    float: right;
}

.pagination .newer-pages {
    float: left;
}

.search {
    margin-top: 3.75em;
}

.search-header {
    margin-bottom: 3.75em;
}

.search-form input {
    width: 50%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: .5em 1em;
    vertical-align: middle;
}

.search-form button {
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
    font-size: 11px;
    color: inherit;
    text-transform: uppercase;
    border: solid 1px #dd4b39;
    background: #dd4b39;
    color: #f0f0f0;
    padding: 1em 1.6em;
    vertical-align: middle;
}

#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.75em;
    background: #333;
    line-height: 3.75em;
}

#main-footer p {
    font-size: .875em;
}

#main-footer a {
    font-family: "Nexa Bold","Helvetica Neue",Helvetica,sans-serif,Helvetica,sans-serif;
    color: #f0f0f0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////
// Required classes for alignment. We need these because pageleaf generates classes
// instead of inline styles for alignment.
//////////////////////////////////////////////////////////////////////////////////////////////////*/

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

img.align-left,
[data-embed].align-left {
    float: left;
    margin-right: 1em;
}

img.align-center,
[data-embed].align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.align-right,
[data-embed].align-right {
    float: right;
    margin-left: 1em;
}

@media screen and (max-width: 1023px) {
    body {
        overflow: visible;
    }

    #main-sidebar {
        position: relative;
        height: -moz-calc(100% - 3.75em);
        height: -webkit-calc(100% - 3.75em);
        height: calc(100% - 3.75em);
    }

    #main {
        padding: 0 3.75em 3.75em;
        margin: 0;
    }

    .pure-g-r>.pure-u,.pure-g-r>[class*="pure-u-"],#main-sidebar,#main {
        width: 100% !important;
        float: left !important;
    }

    .spinner {
        right: 21px;
    }

    .logo {
        margin-top: 10%;
    }

    .page-content ul {
        margin-left: 1.8em;
    }

    .page-content ol {
        margin-left: .9em;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {
    .logo {
        margin: 4% 0 2%;
    }

    .social-media-share {
        margin-top: 4%;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    #main-sidebar {
        max-height: 600px;
    }
}

@media screen and (max-width: 1023px) {
    .logo {
        font-size: 3.75em;
        margin-top: 6%;
    }

    .aside-description {
        font-size: 90%;
    }

    #main {
        padding: 0 1.75em 1.75em;
    }

    .page {
        margin-top: 6.25em;
    }

    .page:first-of-type {
        margin-top: 1.75em;
    }

    .page:last-of-type {
        padding-bottom: 1.75em;
    }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
    #main-sidebar {
        min-height: 500px;
    }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
    .logo {
        margin-top: 20%;
    }

    .social-media-share {
        margin-top: 4%;
    }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
    #main-sidebar {
        min-height: 550px;
    }

    #main-footer p {
        font-size: .7em;
    }
}